<h1 class="title has-text-centered"> Let's edit your tek!</h1><br />

<div class="pv4">
    <%= render 'form', listing: @listing %>
</div>

<% if listing_author(@listing) %>
<% if @listing.image.attached? %>
<% for img in @listing.image %>
        <%= image_tag img %>
      <% end %>
      
<% end %>
<% end %>
