<div class="list-button">
<%= link_to  "Create new listing", new_listing_path, :class => 'btn btn-warning' %>
</div>

<div class="title">
<h1>Featured Products</h1>
</div>


<h1>Your listings</h1>
</div>

<div class="title">

<table>
<% @listings.each do |listing| %>
    <%= listing.title %>
    <% if listing.image.attached? %>
        <% for img in listing.image %>

            <%= image_tag img, style: 'height: 100px' %>
        <% end %>
    <% end %>
<% end %>
</div>
</table>

