

<figure class="image is-3by1 pt2">
  <%= image_tag("4.png", :alt => "hero image") %>
</figure>


                 <!-- CARD -->
                    <div class="block">
                        <div class="card">
                            <div class="card-content">
                                <p class="content pb4 has-text-justified">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cupiditate,
                                    alias voluptates nihil consequuntur commodi! Omnis, nostrum corporis beatae officia
                                    libero quia quam perspiciatis tempore, a similique commodi consequuntur molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cupiditate,
                                    alias voluptates nihil consequuntur commodi! Omnis, nostrum corporis beatae officia
                                    libero quia quam perspiciatis tempore, a similique commodi consequuntur molestias?Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cupiditate,
                                    alias voluptates nihil consequuntur commodi! Omnis, nostrum corporis beatae officia
                                    libero quia quam perspiciatis tempore, a similique comas?
                                </p>

<div class="columns round pb5">
<div class="column circle">
                            <figure class="image is-128x128">
  <img class="is-rounded" src="http://chittagongit.com/download/69785">
  <p class="content has-text-centered pt3 has-text-weight-semibold is-size-4">Contact Us</p>
</figure>
</div>

<div class="column circle">
<figure class="image is-128x128">
  <img class="is-rounded" src="https://cdn4.iconfinder.com/data/icons/e-commerce-icon-set/48/Cart-512.png">
  <p class="content has-text-centered pt3 has-text-weight-semibold is-size-4">Gadgets</p>

</figure>
</div>

<div class="column circle">
<figure class="image is-128x128">
  <img class="is-rounded" src="https://png.pngtree.com/svg/20170622/17cd13a09d.png">
  <p class="content has-text-centered pt3 has-text-weight-semibold is-size-4">About Us</p>

</figure>
</div>

<div class="column circle">
<figure class="image is-128x128">
  <img class="is-rounded" src="https://png.pngtree.com/svg/20160606/c681947a9c.svg">
  <p class="content has-text-centered pt3 has-text-weight-semibold is-size-4">T & C's</p>

</figure>
</div>



                            </div>
                            <footer class="card-footer pt3">
                                <p class="card-footer-item">
                                    <span>
                                        <a href="">Twitter <i class="fa fa-twitter"></i></a>
                                    </span>
                                </p>
                                <p class="card-footer-item">
                                    <span>
                                        <a href="">Facebook <i class="fa fa-facebook"></i></a>
                                    </span>
                                </p>
                            </footer>
                        </div>
                    </div>
                    

