

<figure class="image is-3by1 pt2">
  <%= image_tag("4.png", :alt => "hero image") %>
</figure>


                 <!-- CARD -->
                    <div class="block">
                        <div class="card">
                            <div class="card-content">
                                <p class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium cupiditate,
                                    alias voluptates nihil consequuntur commodi! Omnis, nostrum corporis beatae officia
                                    libero quia quam perspiciatis tempore, a similique commodi consequuntur molestias?
                                </p>

<div class="columns round">
<div class="column circle">
                            <figure class="image is-128x128">
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</figure>
</div>

<div class="column circle">
<figure class="image is-128x128">
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</figure>
</div>

<div class="column circle">
<figure class="image is-128x128">
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</figure>
</div>

<div class="column circle">
<figure class="image is-128x128">
  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
</figure>
</div>



                            </div>
                            <footer class="card-footer">
                                <p class="card-footer-item">
                                    <span>
                                        <a href="">Twitter <i class="fa fa-twitter"></i></a>
                                    </span>
                                </p>
                                <p class="card-footer-item">
                                    <span>
                                        <a href="">Facebook <i class="fa fa-facebook"></i></a>
                                    </span>
                                </p>
                            </footer>
                        </div>
                    </div>
                    

