<h1>Listing#new</h1>
<p>Find me in app/views/listing/new.html.erb</p>

<div class="pv4">
<%= render 'form', listing: @listing %>
</div>

<%
=begin%>
 <%= link_to  "Back", listings_path, class: 'btn btn-info' %> 
<%
=end%>