<div class="text-new">
<h1>Product Details </h1>
<p>Enter your product information below: </p>
</div>



<div class="user-form">
    <div class="inner-form-container">

        <%= render 'form', listing: @listing %>
    </div>
</div>

<div class="back-button">
<%= link_to  "Back", listings_path, class: 'btn btn-info' %>
</div>


<p>Find me in app/views/listing/new.html.erb</p>