<p>Hi and welcome to Tekmore, the best website in the world for buying and selling electronics.<br/>

To view lisings at any time click on the Tekmore logo at the top left of the screen.<br/>

To choose an item to buy simple click on the title which will take you to a more detailed view of the item.<br/>

To buy your selected item simply click "Add to cart", from here you can continue shopping if you like, simply keep adding items to your cart and come back to it later.<br/>

To buy items in your cart click "Pay with card" on the bottom left of the screen.<br/>

Tekmore uses Stripe to process your credit card payments.</p>