<p>TERMS AND CONDITIONS
The following terms and conditions govern the use of all the services, products, software (referred to collectively as the "Service" in this document) offered at MockupBuilder.com. The Service is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, Tekmor 's Privacy Policy) and procedures that may be published from time to time on this Site by the creator and owner of this software - Fahraan Technology software LTD.<br/><br/>

Tekmor reserves the right to update the terms and conditions at any time. Your continued use of the service after such changes means that you agree to the revised terms even if you have not reviewed them. The most current version of the terms and conditions is always available on this page.
<br/><br/>
1. Acceptance of Terms<br/>
Please read this Agreement carefully before accessing or using the Service. By accessing or using any part of the Service, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access or use the service available at Tekmor. In consideration of your use of the Service, you represent that you are of legal age to form a binding agreement and are not a person barred under the laws of any applicable jurisdiction.
2. Description of Service<br/>
Tekmor provides a professional Prototyping suite for creative designers and UX engineers as well as design and software development agencies. At present Tekmor provides free trial with single screen with no login needed just to try the software and premium plans with different level of services and support. There's 31 days of trial period available for every plan, so the user may choose to upgrade/downgrade his/her account when desired.
<br/><br/>
Tekmor does not claim ownership of the data and assets created using this service. The nature, content, intended creation and use of the service is the sole responsibility of the creator or company behind the project. Tekmor reserves the right to update, modify, enhance and transform the Service to any form and use.
<br/><br/>3. Usage Policy<br/>
The service can only be accessed from servers owned or leased by Tekmor. Users need to register an account and accept these terms and other legal documents to use the service. 
<br/><br/>
You may not (and you may not permit anyone else to) copy, modify, create a derivative work of, reverse engineer, decompile or otherwise attempt to extract the source code of the Software, Services and Website or any part thereof owned or licensed by Tekmor , unless this is required by law.
<br/><br/>4. Bandwidth and Storage Policy<br/>
Tekmor reserves the right to restrict a user/company's bandwidth usage and storage capacity of the Service either directly or indirectly including but not limited to the usage of the service. This is done in order to protect any disruptions to other users by conserving resources.
<br/><br/>5. Subscription Pricing and Payment Method<br/>
Payments can be made via any of the available payment processors including PayPal. We trust PayPal, the online leader in web payments for secure transactions. Please refer to their website for more information about their security practices. You agree to update your credit card information to keep it current at all times at PayPal profile. All prices are given and must be paid in the currency listed.
<br/>At this moment we are offering the following plans:<br/>
Solo
Premium Light
Premium Pro
Team Pro
<br/><br/>
All our plans are month-based subscription and they are automatically charged monthly unless the plan is unsubscribed which could be done from User Settings or from your PayPal account.
<br/><br/>
You agree to update your credit card information to keep it current at all times. All prices are given and must be paid in the currency listed. All payment obligations are non-cancelable and all amounts paid are nonrefundable. Unless otherwise provided by law or in connection with any particular service offer, all charges are non-refundable.
<br/><br/>6. Privacy and Personal Information<br/>
For information about Tekmor’s data protection practices, please read Tekmor 's privacy policy at http://mockupbuilder.com/Privacy. This policy explains how Tekmor treats your personal information, and protects your privacy, when you use the Services. You agree to the use of your data in accordance with Tekmor’s privacy policies.
<br/><br/>7. Account Deletion<br/>
No request can be made to Tekmor .com for any user account deletion. Users have the possibility to delete their accounts via their profile page. Accounts deleted cannot be reinstated. Users will need to recreate account anew.
<br/><br/>8. Service Termination<br/>
The terms will continue to apply until your access to the service is terminated. Tekmor may, at any time, terminate this Agreement in its sole discretion, including, without limitation, for breach by you of any of your representations, warranties or obligations under this Agreement, or for inactivity as it relates to the Service for a period of 60 days. You may, at any time, terminate your account by logging into the Service and cancelling the account from User Settings. Tekmor reserves the right, to terminate your Registered Admin or Regular Account at any time, including, without limitation, deactivating your Username.
<br/><br/>9. Proprietary rights<br/>
You acknowledge and agree that Tekmor (or Tekmor 's licensors) own all legal right, title, interest, technology in and to the Services, including any intellectual property rights which subsist in the Services (whether those rights happen to be registered or not, and wherever in the world those rights may exist). You further acknowledge that the Service may contain information which is designated confidential by Tekmor and that you shall not disclose such information without Tekmor 's prior written consent.
<br/><br/>
Unless you have agreed otherwise in writing with Tekmor, nothing in the Terms gives you a right to use any of Tekmor 's trade names, trademarks, service marks, logos, domain names, and other distinctive brand features.
<br/><br/>10. NO WARRANTIES<br/>
YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR USE OF THE SERVICES IS AT YOUR SOLE RISK AND THAT THE SERVICES ARE PROVIDED "AS IS" AND "AS" AVAILABLE.
<br/><br/>
THE USAGE OF THE SERVICES, WEBSITE HAS NO WARRANTY. Tekmor WILL TAKE NO RESPONSIBILITY FOR ANY LOSS, RISK OF ANY KIND OBTAINED THROUGH THE USAGE OF SERVICES. YOU WILL BE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR OTHER DEVICE OR LOSS OF DATA THAT RESULTS FROM THE DOWNLOAD OF ANY MATERIAL FROM Tekmor.
<br/><br/>11. LIMITATION OF LIABILITY<br/>
IN NO EVENT Tekmor BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL CONSEQUENTIAL OR EXEMPLARY DAMAGES WHICH MAY BE INCURRED BY YOU, HOWEVER CAUSED AND UNDER ANY THEORY OF LIABILITY. THIS SHALL INCLUDE, BUT NOT BE LIMITED TO, ANY LOSS OF PROFIT (WHETHER INCURRED DIRECTLY OR INDIRECTLY), ANY LOSS OF GOODWILL OR BUSINESS REPUTATION, ANY LOSS OF DATA SUFFERED, COST OF PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES, OR OTHER INTANGIBLE LOSS.
<br/><br/>
IT'S YOUR RESPONSIBILITY TO PERSONALLY BACKUP ANY CONTENT UPLOADED TO Tekmor AND KEEP YOUR ACCOUNT DETAILS AND OTHER SENSITIVE INFORMATION SECURE AND CONFIDENTIAL.
<br/><br/>
NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM Tekmor OR THROUGH OR FROM THE SERVICES SHALL CREATE ANY WARRANTY NOT EXPRESSLY STATED IN THE TERMS. Tekmor FURTHER EXPRESSLY DISCLAIMS ALL WARRANTIES AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED.
<br/><br/>
THE Tekmor WEB SITE AND SERVICES MAY BE UNAVAILABLE FROM TIME TO TIME FOR MAINTENANCE OR OTHER REASONS. Tekmor SHALL NOT BE LIABLE FOR ANY FAILURE INCLUDING THAT MAY RESULT BEYOND Tekmor 'S CONTROL INCLUDING BUT NOT LIMITED TO HARDWARE FAILURE, NATURAL CALAMITIES. Tekmor WILL NOT BE LIABLE FOR ANY LOSS OR RETURN OF MATERIAL AND SERVICE DISRUPTION.</p>