// Place all the styles related to the Listing controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// .list-button {
//     display: flex;
//     justify-content: flex-end;
// }

<<<<<<< HEAD
#listings {
    display: flex;
    justify-content: center;
    margin: 20px;
}

.field {
    display: flex;
    // border: 2px red solid;
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    width: 100%;
    // height: 5em;
    // background: #ccc;
    // border: 2px red solid;

    .form-labels {
        // border: 2px black solid;
        flex: 1;
    }

    .form-box {
        display: flex;
        // border: 2px blue dotted;
        // flex: 4 100%;
        flex: 2;


        input {
            width: 100%;
            margin: 1px;
            // border-radius: 0.5px;
        }
    }
}

.actions {
    input {
        display: block;
        width: 100%;
        border: none;
        background-color: #979692;
        padding: 14px 28px;
        margin-top: 10px;
        border-radius: 10px;
        font-size: 22px;
        cursor: pointer;
        text-align: center;
        color: white;

    }
}

.image-box {
    padding-bottom: 10px;

    .form-control {
        height: 100%;
    }
}

// }



.navbar-header {
    width: 100%;
    display: flex;
}


.nav {
    display: flex;
    // border: 2px red solid;
    width: 100%;
    margin: 0px;
    padding: 0;

    .edit-button {
        margin-left: auto;
    }

    .logout-button {
        // border: 2px red solid;
        color: #777a81;
    }

}
=======
// .title {
//     display: flex;
//     justify-content: center;
//     margin: 20px;
//     // border: black 2px dotted;
// }

// #listings {
//     display: flex;
//     justify-content: center;
//     margin: 20px;
// }
// // table {
// //     border: 1px solid black;
// // }

.listing-show {
    .feature-image img {
      width: 100%;
    }
    .add-to-cart {
      width: 100%;
    }
  }
>>>>>>> fafd776423d9118255080ecd407b269b294a8ff5
