<h2>Thanks, you paid <strong><%= number_to_currency(@cart.total_price) %></strong>!</h2>

<<<<<<< HEAD


<div class="column">
      <%= button_to 'Continue Shopping', @cart, method: :delete, class: "button is-primary has-fullwidth" %>
=======
 <div class="column">
    
      <%= button_to 'Back to homepage', @cart, method: :delete, class: "button is-primary" %>
      
>>>>>>> 137b81a1eb00baa9fd53ac44d55f44bb186e97ac
    </div>