<h2>Thanks, you paid <strong><%= number_to_currency(@cart.total_price) %></strong>!</h2>

 <div class="column">
    
      <%= button_to 'Back to homepage', @cart, method: :delete, class: "button is-primary" %>
      
    </div>